<div class="container unique" style="direction: rtl;">
    <div class="row">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{item.ImageUrl}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> {{item.CardTitle}}</h5>
                <p class="card-text">{{item.CardDescription}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{item.SmallCardDescription}}</li>
                <li class="list-group-item">{{item.TagCardDescription}}</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">{{item.GoLinkMore}}</a>
                <a href="#" class="card-link">{{item.BackLinkMore}}</a>
            </div>
        </div>
    </div>
</div>
